.popup{
    position:absolute;
    width:364px;//84px;//24px;
    height:auto;
    top:0;
    left:0;
    //min-height:200px;
    background-color:#673766;
    transition: top, left, height .3s;

    @media(max-width:649px){
        // position: relative;
        top:0 !important;
        left:0 !important;
        width:100%;
        height:100%;//vh;
        z-index:25;
        // min-height:100vh/3;
        background-color:transparent;
        // transition: height .5s;
        //transition: top, left 0s;
    }

    // .arrow{
    //     position: absolute;
    //     width:0;
    //     height:0;
    //     left:100%;
    //     top:calc(~"40% + 5px");
    //     border-top:10px solid transparent;
    //     border-bottom:10px solid transparent;
    //     border-left:13px solid #673766;
    //     user-select: none;

    //     @media(max-width:649px){
    //         display: none;
    //     }
    // }

    footer{
        display: none;
        .panel{
            display: flex;
            justify-content: space-between;
            top:-20px;
            padding: 0 25px;

            .arrow{
                height:20px;
                width:12px;
                margin-top:15px;
                z-index:20;
                transition: opacity .3s;
                cursor:pointer;
                &.left{
                    left:0;
                    //margin-left:-12px;
                    background:url("./../../assets/images/left.svg") no-repeat center right;
                    background-size: cover;
                }

                &.right{
                    right:0;
                    //margin-right:-12px;
                    background:url("./../../assets/images/right.svg") no-repeat center left;
                    background-size: cover;
                }

                &.blocked{
                    opacity:0.7;
                }
            }

            .blend{
                width:calc(~"100% - 32px");
                overflow: hidden;
                display: flex;
                justify-content: space-between;

                .icon{
                    margin:0 auto;
                    width:68px;
                    height:48px;
                    background: no-repeat center;
                    background-size:contain;
                    transition:transform .3s;//width, height .3s;

                    @media(max-width:649px){
                        opacity:0.7;
                        transition: opacity 3s;
                    }
                }

                .title{
                    padding-top:5px;
                    font: 14px/16px 'Roboto Condensed';
                    color: #8D734A;
                    text-align:center;
                    cursor:default;

                    @media(max-width:649px){
                        padding-top: 0;
                    }
                }
            }
        }

        @media(max-width:649px){
            display: block;
        }
    }

    .bg{
        position:relative;
        padding:15px;
        left:-6px;
        top:-6px;
        background-color:#F2F5F5;
        width:calc(~"100% - 30px");
        height:auto;//calc(~"100% - 30px");
        
        @media(max-width:649px){
            left:0;
            top:0;
            padding:0;
            height:100%;
            width:100%;//calc(~"100% - 30px");
            //min-height: 100vh/3;
            background-color:#F2DEBB;
        }

        header{
            display: flex;
            justify-content: space-between;
            padding-bottom:5px;

            .title{
                font: bold 16px/20px 'Roboto Slab';
                color:#D64636;
                text-transform: uppercase;
                cursor:default;
            }

            .close{
                width:16px;
                height:16px;
                cursor:pointer;
                background:url("./../../assets/images/close.svg") no-repeat top right;
                background-size: contain;
                transition: opacity .3s;

                &:hover{
                    opacity:0.8;
                }
            }

            @media(max-width:649px){
                padding:15px 15px 5px;
            }
        }

        main{
            font: 14px/16px 'Roboto Condensed';
            color: #673766;
            cursor:default;

            @media(max-width:649px){
                padding:0 15px 15px;
            }
        }
    }

    &.right{
        .arrow{
            left:-13px;
            border-left:0;
            border-right:13px solid #673766;
        }
        .bg{
            left:6px;

            @media(max-width:649px){
                left:0;
            }
        }
    }
}