<div class="popup" *ngIf="showPopup&&country" [@popUp] #popup>
    <!--[@changesAnimation]="countryChanged">-->
  <!--<div class="arrow"></div>-->
  <div class="bg">
    <header>
      <div class="title" [innerHTML]="country.title"></div>
      <div class="close" (click)="onClose()"></div>
    </header>
    <main [innerHTML]="country.description"></main>
    <footer>
      <div class="panel">
        <div class="arrow left" (click)="onShift(-1)"></div>
        <div class="blend" *ngFor="let blend of selectedBlends; let i=index" [class.selected]="i==currentBlend">
          <div class="icon" [style.background-image]="sanitize(blend.img)"></div>
          <div class="title" [innerHTML]="blend.title"></div>
        </div>
        <div class="arrow right" (click)="onShift(1)"></div>
      </div>
      <app-blend [blends]="selectedBlends" [blend]="selectedBlends[currentBlend]" [leftShift]="leftShift"></app-blend>
    </footer>
  </div>
</div>