<div class="blend" [class.empty]="!blend">
  <div class="arrow-div">
    <div class="arrow" [style.left]="sanitize(leftShift)"></div>
  </div>
  <header *ngIf="blend" [@popUp]>
    <div class="left">
      <div class="title">Бленд Nespresso:</div>
      <div class="subtitle" [innerHTML]="blend.title"></div>
    </div>
    <div class="right">
      <a href="" target="_blank"><div class="nespresso"></div></a>
    </div>
  </header>
  <main *ngIf="blend" [innerHTML]="blend.description"></main>
  <a *ngIf="blend" [@popUp] href="" target="_blank" class="mobile"><div class="nespresso"></div></a>
</div>