.blend{
    position:relative;
    top:-10px;
    width:540px;
    height:auto;//140px;
    border:10px solid #f4e1c1;
    background-color:white;
    margin:0 auto;
    padding:20px;
    transition: background-color, height .5s;

    &.empty{
        background-color:#f4e1c1;
        height:140px;
    }

    .arrow-div{
        position: absolute;
        top:-15px;
        pointer-events: none;

        .arrow{
            position: absolute;
            display: none;
            width:0;
            height:0;
            border-left: 15px solid transparent;
            border-right:15px solid transparent;
            border-bottom: 15px solid white;
            transition: left .3s;
        }
    }

    @media(max-width:649px){
        width:calc(~"100% - 40px");
        top:0px;
        height:calc(~"100% - 100vw*211/320 - 160px");
        border:none;

        .arrow-div{
            width:calc(~"100% - 52px");
            .arrow{
                display: inline-block;
            }
        }

        &.empty{
            border:none;
            background-color:white;
            // min-height:40vh;
            min-height:calc(~"100% - 100vw*211/320 - 160px");

            .arrow{
                display: none;
            }
        }
    }

    header{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        .left{
            .title{
                font: 14px/16px 'Roboto Condensed';
                color:#333333;
                cursor:default;
                padding-bottom: 5px;
            }

            .subtitle{
                font: bold 16px/20px 'Roboto Slab';
                color:#D64636;
                text-transform: uppercase;
                cursor:default;
            }
        }

        @media(max-width:649px){
            display: none;
        }
    }

        //.right{
            a{
                cursor:pointer;
                transition:opacity .3s;
                .nespresso{
                    width:100px;
                    height:15px;
                    background: url("./../../assets/images/nespresso.svg") no-repeat center;
                    background-size: contain;
                }

                &:hover{
                    opacity:0.8;
                }

                &.mobile{
                    display: none;
                    padding-top:10px;

                    .nespresso{
                        width:120px;
                        height:20px;
                        background-position: left bottom;
                    }
                }

                @media(max-width:649px){
                    display: none;

                    &.mobile{
                        display: block;
                    }
                }
            }
        //}
    // }

    main{
        font: 16px/20px 'Roboto Condensed';
        color:#333333;
        cursor:default;

        @media(max-width:649px){
            font-size:14px;
            line-height:16px;
        }
    }
}