<div class="panel" #panel>
  <div class="arrow left" (click)="onShift(false)"></div>
  <ul [style.left]="leftShift">
    <li *ngFor="let blend of blends;let i=index;" class="blend-item" [ngClass]="blend.countries" [class.selected]="i==selectedIdx" [class.current]="i>=firstIdx&&i<=firstIdx+3" (click)="onSelect($event, blend)">
      <div class="icon" [style.background-image]="sanitize(blend.img)"></div>
      <div class="title" [innerHTML]="blend.title"></div>
    </li>
  </ul>
  <div class="arrow right" (click)="onShift(true)"></div>
</div>