.panel{
    position: relative;
    display: flex;
    justify-content: space-between;
    top:-20px;
    padding: 0 25px;

    @media(max-width:649px){
        padding:10px;
    }
    
    .arrow{
        height:20px;
        width:12px;
        margin-top:15px;
        z-index:20;
        transition: opacity .3s;
        cursor:pointer;

        &.left{
            left:0;
            background:url("./../../assets/images/left.svg") no-repeat center right;
            background-size: cover;
        }

        &.right{
            right:0;
            background:url("./../../assets/images/right.svg") no-repeat center left;
            background-size: cover;
        }

        &.blocked{
            opacity:0.7;
        }
    }

    .list{
        width:calc(~"100% - 32px");
        overflow: hidden;
    }
    ul{
        display: flex;
        justify-content: space-between;
        cursor:pointer;
        margin:0;
        padding:0;
        list-style: none;

        position: relative;
        max-width:100%;
        transition: left .3s;

        .blend-item{
            height:92px;
            width:12.5%;
            min-width:12.5%;
            opacity:0;
            pointer-events: none;
            transition: opacity .3s;

            &.current{
                opacity: 1;
                pointer-events: all;
            }

            @media(max-width:649px){
                opacity:0;
                width:25%;
                min-width:25%;
                height: 100px;
            }

            .icon{
                margin:0 auto;
                width:68px;
                height:60px;
                background: no-repeat center;
                background-size:contain;
                transition:transform .3s;
            }

            .title{
                font: 14px/16px 'Roboto Condensed';
                color: #8D734A;
                text-align:center;
                cursor:pointer;

                @media(max-width:649px){
                    padding-top: 0;
                }
            }

            &:hover,
            &.selected{
                .icon{
                    transform: scale(1.16, 1.16);
                }

                .title{
                    color:#333333;
                }

                @media(max-width:649px){
                    .title{
                        font-family: 'Roboto Slab';
                        font-weight: bold;
                        color:#D64636;
                    }
                }
            }
        }
    }
}